<!DOCTYPE html>
{% load static %}
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>user login</title>
    <link rel="stylesheet" href="{% static "css/one.css" %}">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  </head>
  </head>
  <body>
    <h1>hi</h1>
    <nav class="navbar navbar navbar-expand-lg navbar-dark bg-primary ">
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item active">
            <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item active">
            <a class="nav-link" href="/admin">Admin</a>
          </li>
          <li class="nav-item active">
            <a class="nav-link " href="{% url 'django_app:register' %}" tabindex="-1" aria-disabled="true">Register</a>
          </li>
          {% if user.is_authenticated %}
            <li class="nav-item active">
              <a class="nav-link" href="{% url 'logout' %}">Logout</a>
            </li>
          {% else %}
            <li class="nav-item active">
              <a class="nav-link" href="{% url 'django_app:user_login' %}">Login</a>
            </li>
          {% endif %}
        </ul>
      </div>
    </nav>
    {% block body_block %}
      <div class='one'>
        <h3>welcome to mango store</h3>
        <h3>click on register to register</h3>
      </div>
    {% endblock %}
  </body>
</html>
