<!DOCTYPE html>
{% load static %}
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>details</title>
    <link rel="stylesheet" href="{% static "css/details1.css" %}">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  </head>
  <body>
    <h1>{{ enter }}</h1>
    <img src="{% static "images/cartoon.jpg" %}" alt="failed">
    <form  method="post">
      {{ form.as_p }}
      {% csrf_token %}
      <input type="submit" class='btn btn-primary' value="submit">
    </form>
    <a href="{% url 'check' %}">press me</a>
    <form action="{% url 'check' %}" method="post">
      {% csrf_token %}
      <input type="submit" class='btn btn-primary' value="submit">
    </form>
    <a href="#">press</a>
  </body>
</html>
