<!DOCTYPE html>
{% load formtag %}
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <h1>Here are thedetails of the user</h1>
    {% if reg %}
      <table>
        <thead>
          <th>name</th>
          <th>email</th>
          <th>mobile number</th>
        </thead>
        {% for i in reg %}
          <tr>
            <td>{{ i.name|namev:'vishnu' }}</td>
            <td>{{ i.email }}</td>
            <td>{{ i.mob_number }}</td>
          </tr>
        {% endfor %}
      </table>
    {% endif %}
    {% block body_block %}
      {% endblock %}
  </body>
</html>
